<div style="padding: 0 15% 0 15% ;">
    <form ng-submit="addQuestion()" class="form">
        que : <input class="form-control" type="text" ng-model="question.questionDesc"><br>
        qno : <input class="form-control" type="text" ng-model="question.questionNumber"><br>
        <!--close ans : <input class="form-control" type="text" ng-model="question.ans"><br>-->
        correct ans : <input class="form-control" type="text" ng-model="question.correctAnswer"><br>
        hint : <input class="form-control" type="text" ng-model="question.hint"><br>
        imageUrl : <input class="form-control" type="text" ng-model="question.imageUrl"><br>
        audioUrl : <input class="form-control" type="text" ng-model="question.audioUrl"><br>
        <button class="btn-warning">Post this Que</button>
    </form>
</div>