<!DOCTYPE html>
<html lang="en" ng-app="enigma" ng-controller="questionController">
<head>
  <title>Enigma 4.0</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/leaderboardView.css">

  <!-- Angular comes here -->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/controllers/question.js"></script>
</head>
<body ng-cloak ng-init="getData()">
  <nav class="navbar">
    <a class="return montserrat" href="../dashboard"><i class="fa fa-home"></i>&nbsp;HOME</a>
  </nav>

  <div class="container">

    <img src="../images/logoplusblack.png" alt="" class="logo horizontal-center">

    <table class="table table-hover">
  <thead>
    <tr class="table-head">
      </th>
      <th class="round-t-l">#</th>
      <th class="text-center">Name</th>
      <th class="text-center">University<span class="spinner" data-loader><i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw" aria-hidden="true"></i></span>
      </th>
      <th class="text-center">Score</th>
      <th class="text-center round-t-r">Solved</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="player in dataset">
      <th scope="row">{{$index+1}}</th>
      <td>{{player.name | uppercase}}</td>
      <td>{{player.organisation| uppercase}}</td>
      <td>{{player.score}}</td>
      <td>{{player.currqno - 1}}</td>
    </tr>
  </tbody>
</table>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

</body>
</html>
