<!DOCTYPE html>

<!--Hi guys Sahil3Vedi here-->
<!--Arushit too-->

<html ng-app="enigma" ng-controller="questionController">

<head>
    <base href="/dashboard/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <title>Enigma 3.0</title>
    <!-- Angular comes here -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/controllers/question.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

    <!-- Font being used -->
    <style>
		@font-face {
		  /* Giving the alternate until Bebas_Neue in small is present */
		  font-family:Bebas_Neue;
		  src: url("../fonts/BebasNeue.otf");
		}
		@font-face {
		  font-family:Alternate_Gothic;
		  src: url("../fonts/Futura Condensed Bold.otf");
		}
	</style>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="font-family:Bebas_Neue;background-color:white">
  <!--hint Modal-->
  <div id="hintModal" class="modal" style="left: 0;right: 0;width: 100%;">

      <!-- Modal content -->
      <div class="modal-content">
        <i id='btnN' class="fa fa-times" aria-hidden="true" style="font-size:30px;cursor:pointer;margin-top:3.1%"></i>
          <h3 style="font-size:35px;font-weight:strong" ng-if="!hintMsg"> ARE YOU SURE?</h3>
          <div style="margin-bottom:10px;"> <btn id='btnY' style="letter-spacing:2px" ng-mobile-click="useHint()" ng-if="!hintMsg"> USE HINT </btn></div>
          <div style="margin-bottom:10px;" ng-model="hintMsg"> {{hintMsg}}</div>

      </div>
  </div>

    <div id="conta">
      <div class="container">
        <p style="margin-top:10%;margin-bottom:0;color:black" id='hint'></p>
      </div>
        <div id='tab' class="container" style="background-color:rgba(245,245,245,0.85);width:80%;border-radius:6px">
          <h3 id='ques' style="margin-top:0.5em;margin-bottom:0">Question {{data.queData.questionNumber}}: {{data.queData.questionDesc}}</h3>
          <br>
            <audio autoplay ng-if="data.queData.audioUrl">
                <source src="{{data.queData.audioUrl}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio><br>
            <img id='qq' src="{{data.queData.imageUrl[0]}}" style="width:90%;height:auto;margin-top:0em;margin-bottom:1em" ng-if="data.queData.imageUrl[0]">
            <img id='qs' src="{{data.queData.imageUrl[1]}}" style="width:90%;height:auto;margin-top:0em;margin-bottom:1em" ng-if="data.queData.imageUrl[1]">
          <br>
          <input id='ansX' type="text" style="color:black;letter-spacing:2px;font-weight:lighter;background-color:transparent;width:50%;text-align:center;border:none;margin-bottom:1em" placeholder="your answer here" ng-model="response.answer"></input>
          <br>
          <button id='sub'  ng-mobile-click="sendResponse()" type='submit' value="submit" style="font-weight:lighter;letter-spacing:2px;font-size:1em;color:black; background-color:transparent; border:none">Submit</button>
            <div class="msg-container">
                <p class="text-danger" ng-model="msg" ng-if="check.code==0">{{msg}}</p>
                <p class="text-success" ng-model="msg" ng-if="check.code==1">{{msg}}</p>
                <p class="text-warning" ng-model="msg" ng-if="check.code==2">{{msg}}</p>
                <p class="text-primary" ng-model="msg" ng-if="check.code==3">{{msg}}</p>
            </div>
        </div>
        <br>
        <img id='nipun' src="../images/img/logoplusblack.png" style="width:40%;height:auto;margin-top:0">
        </div>
</div>
</header>
</body>
</html>
