<!DOCTYPE HTML>

<!--Made with roses and tears - sahil3vedi -->

<html lang="en">
<head>
    <title>Enigma 4.0</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/indexView.css">
</head>
<body>

<!--Template CSS-->
<link rel="stylesheet" href="../assets/css/forgotTemplate.css">

<div class="container" style="padding:15% 0 0 0;">

    <div class="row">
        <div class="text-center col-lg-8 mx-auto">
            <h1><%=mainMessage%></h1>
            <%if(trailingMessage==="show leaderboard"){%>
                <a href="http://enigma.ieeevit.com/leaderboard"><button type="btn" class="btn">View Leaderboard</button></a>
            <%}else  if(trailingMessage!=="show leaderboard"){%>
                <a href="http://enigma.ieeevit.com"><button type="btn" class="btn"><%=trailingMessage%></button></a>
            <%}%>
        </div>
    </div>

</div>
</body>
</html>
