<link rel="stylesheet" href="assets/css/leaderboardView.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


<div class="artboard">

  <div class="app-container">

    <div class="app-title">
      TOP SCORES
    </div>
    <div class="app-table">
      <div class="app-header">
        <div class="column-name">
          Player
        </div>
        <div class="column-name" style="padding-left: 50px;">
          College
        </div>
        <div class="column-name">
          Score
        </div>
        <div class="column-name">
          Question
        </div>
      </div>
      <div class="app-row">
        <div class="player">
          <div class="rank">1</div>
          <div class="image">
            <img src="https://raw.githubusercontent.com/idonahue/assets/master/images/leaderboard/player-sanchez.png">
          </div>
          <div class="name">Alexis Sanchez</div>
          <div class="college">VIT UNIVERSITY</div>
          <div class="score">1750</div>
          <div class="goals">15</div>
        </div>
      </div>

    </div>
  </div>
</div>