<link rel="stylesheet" href="../assets/css/leaderboardView.css">


<div class="row text-center">
  <div class="container">
    <h2 class="section-heading">LEADER BOARD</h2>
  </div>
</div>

<br>

<!-- Name Search Box -->
<div class="navbar-form">
  <div class="form-group">
    <input type="text" class="form-control" name="searchByName" placeholder="search by name" ng-model="searchByName">
  </div>
</div>


<!-- Search Button -->
<div class="navbar-form" >
    <button type="button" align="right" ng-click="gameCtrl.advancedSearch(searchByName);" class="btn btn-outline-success my-2 my-sm-0">Search</button>

</div>
<br>


<br>

<div class="panel ">
  <!-- Heading -->
  <div class="panel-heading"></div>
  <!-- Start: Table -->
  <table class="table" >
    <tr>
      <th>Name</th>
      <th>College</th>
      <th>Question No</th>
      <th>Score</th>
    </tr>
    <tr ng-repeat="person in dataset | filter: advancedSearchFilter | limitTo:100 ">
      <td>{{ person.title }}</td>
      <td>{{ person.platform}}</td>
      <td>{{ person.genre }}</td>
      <td>{{ person.score }}</td>
    </tr>

  </table>
</div>
