<link rel="stylesheet" href="assets/css/minileaderboard.css">

<div class="container">
<!-----Leaderboard Button---------->
<input type="checkbox" name="toggle" id="toggle"  />
<label for="toggle" ></label>
<!--------LEADERBOARD-------------->
<div class="leaderboard">
    <h1>Leaderboard</h1>
    <ol>
        <li class="Person">
            <div class="Name"><b>(1) Anthony</b></div>
            <div class="Score">302</div>
        </li>
        <li class="Person">
            <div class="Name"><b>(2) Mirek</b></div>
            <div class="Score">293</div>
        </li>
        <li class="Person">
            <div class="Name"><b>(3) Charles</b></div>
            <div class="Score">291</div>


    </ol>
</div>
</div>