<link rel="stylesheet" href="assets/css/profile.css">
<div class="card" >
    <section class="card-info card-section" >
        <i class="ion-navicon menu"></i>
        <i class="ion-ios-search search"></i>

        <div class="avatar row">
        </div>

        <section class="user row">
            <h1 class="user-header" style="margin-left: 13%;" >
                <center>ABHINAV GUPTA</center>

            </h1>
        </section>

        <section class="statistics">
            <article class="statistic">
                <h4 class="statistic-title">
                    Rank
                </h4>
                <h3 class="statistic-value">
                    360
                </h3>
            </article>

            <article class="statistic">
                <h4 class="statistic-title">
                    Score
                </h4>
                <h3 class="statistic-value">
                    1,034
                </h3>
            </article>
        </section>

        <div class="dial">
            <h2 class="dial-title">
                35
            </h2>
            <h3 class="dial-value">
                QUESTION
            </h3>
        </div>
    </section>

    </article>
    </dt>

    </dl>
    </section>
</div>
