
<div id='cont' style="posittion:absolute;margin-top:1.5%;text-align : center; text-decoration: none; font-family:Bebas_Neue;color:white;width:100%">
  <button class="btn btn-dark float-left" ng-click="sendBack()" ng-mobile-click="sendBack()" >Go back</button>
  <!--<i id='bacc'class="fa fa-angle-left" ng-mobile-click="sendBack()" style="float:left;margin-left:2%;font-size:40px;vertical-align:center;cursor:pointer" aria-hidden="true"></i>-->
  <h3 id='lead' style="font-size:3em;"> RULES </h3>
</div>
<div id='contain' style="width:100%;position:fixed;z-index:500;bottom:10%;top:10%;text-align:center;text-decoration:none;font-family:Bebas_Neue;overflow-y:scroll;padding-left:0%;padding-right:0%;">
  <br>
  <ol id='list' style="font-size:16px; color: white; list-style: decimal; list-style-position: inside; text-align: left;padding-left:10px;padding-right:10px">
    <li style="letter-spacing: 1px;"> The event shall be held over 3 days, from 13<sup>th</sup> to 15<sup>th</sup> of January,2018. </li><br>
    <li style="letter-spacing: 1px;"> Malpractice during the event will lead to disqualification.</li><br>
    <li style="letter-spacing: 1px;"> Participation is open to everyone. Each participant represents himself/herself only.</li><br>
    <li style="letter-spacing: 1px;"> The event entails an Online Cryptic Hunt in which participants must make their way through a series of levels filled with cryptic questions.</li><br>
    <li style="letter-spacing: 1px;"> At each level, the participants will encounter a number of clues which shall, altogether, point to one answer. Each level has one and only one correct answer.</li><br>
    <li style="letter-spacing: 1px;"> Answers will always be lowercase, alphanumeric and may contain spaces. Special characters are allowed.</li><br>
    <li style="letter-spacing: 1px;"> Official clues may be released on the Facebook page if and when deemed necessary by the organizers.</li><br>
    <li style="letter-spacing: 1px;"> Beware of the spelling you enter, we won't auto correct your spellings.</li><br>
    <li style="letter-spacing: 1px;"> The Organisers reserve the right to change the Rules of Competition.</li><br>
    <li style="letter-spacing: 1px;"> Read the terms and conditions of site use <a href="#">over here</a></li>
    </ol>
</div>
<!-- Theme JavaScript -->
<script src="./javascripts/js/rules.js"></script>

</body>
</html>
