
<!--Template CSS-->
<link rel="stylesheet" href="assets/css/forgotTemplate.css">

<div class="container">

    <div class="row">
        <div class="vertical-center text-center col-lg-8 mx-auto">
            <h1>FORGOT PASSWORD</h1>
            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder=" Enter your email ID" required="true"></input>
                </div>
                <button type="submit" ng-mobile-click="" class="btn">SEND CONFIRMATION</button>
            </form>
            <button type="btn" ng-mobile-click="" class="btn">HOME</button>
        </div>
    </div>

</div>