
<!--Template CSS-->
<link rel="stylesheet" href="assets/css/indexTemplate.css">

<div class="container parallax vertical-placing">

    <div class="vertical-center text-center">
        <h1>ENIGMA</h1>
        <button type="button" class="btn"><a href="#getStarted">GET STARTED</a></button>
    </div>

</div>

<div class="container parallax transition-delay" id="getStarted">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="padding-top-10">
                <h2 class="text-center"> LOGIN </h2>
                <form class="form" ng-submit="getLogin()">
                    <div class="form-group">
                        <input type="text" class="form-control" name="user.email" placeholder=" Email" ng-model="player.email" required="true"></input>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="user.password" placeholder=" Password" ng-model="player.password" required="true"></input>
                    </div>
                    <div class="message-container">
                        <div class="alert alert-success" role="alert" ng-if="resData.code == 1">
                            <strong ng-model="msg">{{msg}}</strong>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-if="resData.code == 0">
                            <strong ng-model="msg">{{msg}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn horizontal-center" type="submit">SIGN IN</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="padding-top-10">
                <h2 class="text-center"> REGISTER </h2>
                <form ng-submit="getRegistered()">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder=" Name" ng-model="player.name" required></input>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="email" placeholder=" Email" ng-model="player.email" required></input>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="organisation" placeholder=" University Name" ng-model="player.organisation"></input>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="reg_no" placeholder=" Register Number" ng-model="player.reg_no"></input>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="phone"  placeholder=" Phone Number" ng-model="player.phone" required></input>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder=" Enter Password" ng-model="player.password" required></input>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder=" Confirm Password" ng-model="player.cpassword" required></input>
                    </div>
                    <div class="form-group">
                        <p class="prompt horizontal-center" ng-mobile-click="">By registering you agree to the <strong>Terms and Conditions</strong></p>
                    </div>
                    <div class="message-container">
                        <div class="alert alert-success" role="alert" ng-if="resData.code == 1">
                            <strong ng-model="msg">{{msg}}</strong>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-if="resData.code == 0">
                            <strong ng-model="msg">{{msg}}</strong>
                        </div>
                    </div>
                    <button class="btn horizontal-center" type="submit">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>
</div>
