
<!--Template CSS-->
<link rel="stylesheet" href="assets/css/forgotTemplate.css">

<div class="container">

    <div class="row">
        <div class="text-center col-lg-8 mx-auto" style="padding:15% 0 0 0;">
            <h1>RESET PASSWORD</h1>
            <form ng-submit="resetPassword()" class="horizontal-center form-group col-lg-5 col-sm-12 col-md-auto">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder=" Enter New Password" ng-model="player.password" required="true"></input>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder=" Confirm New Password" ng-model="player.confirm" required="true"></input>
                </div>
                <br>
                <!--Message Container for users confort-->
                <div class="message-container">
                    <div class="alert alert-danger" role="alert" ng-if="code==1">
                        <div class="font-weight-strong centered" ng-model="msg">
                            <font size="2" class="font-weight-bold">{{msg}}</font>
                        </div>
                    </div>
                    <div class="alert alert-success" role="alert" ng-if="code==0">
                        <div class="font-weight-strong centered" ng-model="msg">
                            <font size="2" class="font-weight-bold">{{msg}}</font>
                        </div>
                    </div>
                    <div class="alert alert-info" role="alert" ng-if="code==2">
                        <div class="font-weight-strong centered" ng-model="msg">
                            <font size="2" class="font-weight-bold">{{msg}}</font>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn">CHANGE PASSWORD</button>
            </form>
            <a href="/">
                <button type="submit" class="btn"><i class="fa fa-chevron-circle-left"></i>&nbsp;GO BACK</button>
            </a>
        </div>
    </div>

</div>