.return{
  font-weight: bolder;
  border-radius: 4px;
  color: white;
  background-color: #222238;
  width: 5.5em;
  padding: 5px;
}

.montserrat{
  font-family: Montserrat;
}

.text-center{
  text-align: center;
}

/*fonts*/
@font-face {
    font-family: Wakanda;
    src: url(../fonts/Wakanda.ttf);
}

.table-head{
  background-color: #1b1b1d;
  color: white;
}

.table-hover tbody tr:hover {
    background-color: #222238;
    color: white;
}

tbody{
  text-align: center;
}

.logo{
  width: 30%;
  margin-bottom: 2vh;
}

.horizontal-center{
  margin-left: 50% !important;
  transform: translate(-50%,0%);
}

.round-t-l{
  border-top-left-radius: 6px;
}

.round-t-r{
  border-top-right-radius: 6px;
}

a:hover{
  text-decoration: none;
  color: white;
}
