.btn-white{
  background-color: white;
  color: black;
}

.montserrat{
  font-family: Montserrat;
}

.text-center{
  text-align: center;
}

/*fonts*/
@font-face {
    font-family: Wakanda;
    src: url(../fonts/Wakanda.ttf);
}

body{
  font-family: Wakanda;
  color: black;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}

html{
  width: 100%;
  overflow-x: hidden;
}

nav{
  vertical-align: middle;
}

.helvetica{
  font-family: helvetica;
}

.vertical-center{
  margin-top: 50vh;
  transform: translate(0%,-50%);
}

.horizontal-center{
  margin-left: 50% !important;
  transform: translate(-50%,0%);
}

.prompt{
  font-size: 0.8em;
  text-align: center;
}

.btn{
  font-weight: bolder;
  margin: 5px;
  background-color: white;
  border-color: #1b1b1d;
  color: #1b1b1d;
  cursor: pointer;
}

.btn:hover{
  background-color: #1b1b1d;
  color: white;
}

.question-tab{
  margin-top: 2vh;
}

/* mobile view*/
.logo{
  width: 50%;
  height: auto;
  margin-bottom: 3vh;
}

.question-image{
  width: 90%;
  height: auto;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.answer-box{
  width: 60%;
  margin: 20px;
  background-color: transparent;
  outline: none;
  text-align: center;
  border-bottom: 2px solid #1b1b1d;
  border-left: none;
  border-right: none;
  border-top: none;
}

.useHint{
  font-weight: bolder;
  width: 90%;
  display: block;
  cursor: pointer;
  border-left: 1px solid #1b1b1d;
  border-right: 1px solid #1b1b1d;
  border-bottom: 1px solid #1b1b1d;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.useHint:hover{
  display: block;
  cursor: pointer;
  color: white;
  background-color: #1b1b1d;
  font-weight: lighter;
}

input:focus{
   outline:none;
   border-bottom: 2px solid #1b1b1d !important;
   background-color: transparent !important;
   color: #1b1b1d;
  }

.question-title{
  font-size: 1.5em;
  text-align: center;
  color: #1b1b1d;
  margin-bottom: 3vh;
}

/* pc view*/
@media (min-width: 1024px){
  .logo{
    width: 25%;
  }

  .question-image{
    width: 40%;
    height: auto;
  }

  .useHint{
    width: 40%;
  }

  .question-title{
    font-size: 1.5em;
    text-align: center;
    color: #1b1b1d;
  }

  .answer-box{
    width: 40%;
    margin: 20px;
  }
}

/* tablet view*/
@media (min-width: 768px) and (max-width: 1023px){
  .logo{
    width: 30%;
  }

  .question-image{
    width: 60%;
    height: auto;
  }

  .useHint{
    width: 60%;
  }


  .question-title{
    font-size: 2em;
    text-align: center;
    color: #1b1b1d;
  }

  .answer-box{
    width: 40%;
    margin: 20px;
  }
}

.navicon{
  font-size: 30px;
  cursor: pointer;
}

.spacing-top{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.bg-off-black{
  background-color: #1b1b1d;
}

a:visited{
  text-decoration: none;
}

.context{
  background-color: #444;
  position: absolute;
  left: -100%;
  top:0;
  width: 100%;
  transition-duration: 0.5s;
  z-index: 20;
  min-height: 100vh;
}

.cross-left{
  right: 1rem;
  position: absolute;
  cursor: pointer;
  z-index: 30;
}

.cross{
  cursor: pointer;
  color: white;
}

.burger{
  left: 1rem;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.star{
  right: 1rem;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  display: none;
}

a{
  color: white!important;
  text-decoration: none;
}

a:hover{
  color: white!important;
  text-decoration: none;
}

a:focus{
  color: white!important;
  text-decoration: none;
}

.card-header{
  background-color: #616161;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-radius: 0px;

}

.card-block{
  background-color: #E7E7E7;
  color: black;
  border: 0px;
  border-radius: 0px;
}

.card{
  border: 0px;
  border-radius: 0px;
}

.card-header:first-child{
  border-radius: 0px;
}

#accordion{
  border: 0px;
  border-radius: 6px;
}

/*mini Leaderboard*/
.firstPos{
  background-color: #e2d27e;
  color: black;
}

.miniLeadSpacing{
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
}

.pos{
  background-color: #c7c7c7;
}

.nthPos{
  background-color: #616161;
  color: white;
}

.link-dark{
  color: black!important;
  font-weight: bolder;
  cursor: pointer!important;
}

.badgeCaption{
  font-weight: bolder;
  text-align: center;
}

.badgeContainer{
  width: 80%;
}

.facebook{
  cursor: pointer;
}

.hintWarning{
  display: none;
}

.btn-logout{
  margin-top: 2vh;
  color: black!important;
}

.lexie{
  background-color: blue;
  color: white;
}
