.btn-white{
  background-color: white;
  color: black;
}

.text-center{
  text-align: center;
}

/*fonts*/
@font-face {
    font-family: Elianto;
    src: url(../fonts/Elianto-Regular.ttf);
}

body{
  font-family: Elianto;
  color: black;
  background-color: #eee;
  overflow-x: hidden;
}

nav{
  vertical-align: middle;
}

.helvetica{
  font-family: helvetica;
}

.vertical-center{
  margin-top: 50vh;
  transform: translate(0%,-50%);
}

.horizontal-center{
  margin-left: 50% !important;
  transform: translate(-50%,0%);
}

.prompt{
  font-size: 0.8em;
  text-align: center;
}

.btn{
  font-family: Elianto;
  font-weight: lighter;
  margin:10px;
  background-color: #eee;
  border-color: rgb(41,43,44);
  color: rgb(41,43,44);
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(41,43,44);
  color: #eee;
}

.question-tab{
  margin-top: 2vh;
}

.logo{
  width: 6em;
  height: auto;
}

.question-image{
  width: 90%;
  height: auto;
}

.answer-box{
  width: 60%;
  margin: 20px;
}

.question-title{
  font-size: 1.5em;
  text-align: center;
  color: rgb(41,43,44);
}

@media (min-width: 1024px){
  .logo{
    width: 9em;
  }

  .question-image{
    width: 60%;
    height: auto;
  }

  .question-title{
    font-size: 2em;
    text-align: center;
    color: rgb(41,43,44);
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .logo{
    width: 7.5em;
  }

  .question-image{
    width: 60%;
    height: auto;
  }

  .question-title{
    font-size: 2em;
    text-align: center;
    color: rgb(41,43,44);
  }
}

.navicon{
  font-size: 30px;
  cursor: pointer;
}

.spacing-top{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.bg-off-black{
  background-color: rgb(41,43,44);
}

a:visited{
  text-decoration: none;
}

.context{
  background-color: #abcdef;
  position: absolute;
  top: 0;
  display: none;
}
